* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #e2231a;
}

header {
  height: 150px;
  background-image: url(../img/header.png);
  background-position: center top;
  background-repeat: no-repeat;
}

footer {
  height: 540px;
  background-image: url(../img/footer.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  margin-top: 50px;
}

.content {
  width: 990px;
  margin: auto;
}
.t-head > h4 {
  line-height: 40px;
  font-size: 16px;
  border-bottom: 1px solid #e2231a;
  width: auto;
  display: inline-block;
  color: #e2231a;
}
.sct {
  font-size: 12px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sct > .thead {
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  width: 990px;
  margin-bottom: 10px;
}

.sct > .thead > div {
  display: table-cell;
  padding: 10px;
}

.sct > .thead > div:nth-child(1) {
  width: 30px;
  text-align: center;
}

.sct > .thead > div:nth-child(2) {
  width: 100px;
}

.sct > .thead > div:nth-child(3) {
  width: 390px;
}

.sct > .thead > div:nth-child(4) {
  width: 170px;
  text-align: right;
}

.sct > .thead > div:nth-child(5) {
  width: 100px;
  text-align: center;
}

.sct > .thead > div:nth-child(6) {
  width: 100px;
  text-align: center;
}

.sct > .thead > div:nth-child(7) {
  width: 100px;
}

.sct > #listBox {
  border-top: 2px solid #888;
}
.sct .item {
  border: 1px solid #ddd;
}

.sct .item > div {
  display: table-cell;
  padding: 15px 10px;
  vertical-align: top;
}

.sct .item > div:nth-child(1) {
  width: 30px;
}

.sct .item > div:nth-child(2) {
  width: 100px;
}

.sct .item > div:nth-child(3) {
  width: 390px;
}

.sct .item > div:nth-child(4) {
  width: 170px;
  text-align: right;
}

.sct .item > div:nth-child(5) {
  width: 100px;
  text-align: center;
}

.sct .item > div:nth-child(6) {
  width: 100px;
  font-weight: 700;
  text-align: center;
}

.sct .item > div:nth-child(7) {
  width: 100px;
}

.sct > .countBox {
  border: 1px solid #ddd;
  width: 990px;
  margin: 10px 0px;
}

.sct > .countBox > div {
  display: table-cell;
  padding: 10px;
}

.sct > .countBox > div:nth-child(1) {
  width: 30px;
  text-align: center;
}

.sct > .countBox > div:nth-child(2) {
  width: 200px;
}

.sct > .countBox > div:nth-child(3) {
  width: 660px;
  text-align: right;
  color: #e2231a;
  font-size: 1.3em;
  font-weight: 700;
}

.sct > .countBox > div:nth-child(4) {
  width: 100px;
  text-align: center;
  background: red;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
}
.selectAll {
  position: relative;
  top: 2px;
}
.sct > .countBox .gray {
  color: darkgray;
  font-size: 1em;
  font-weight: 400;
}
.sct input[type="number"] {
  width: 50px;
  text-align: center;
}
.t-head > h4 {
  line-height: 40px;
  font-size: 16px;
  border-bottom: 1px solid #e2231a;
  width: auto;
  display: inline-block;
  color: #e2231a;
}
.p-head {
  width: 990px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -15px;
}
.p-head > h5 {
  color: #e2231a;
  display: inline-block;
  border-bottom: 2px solid #e2231a;
  line-height: 30px;
}
.productsBox {
  display: flex;
  width: 990px;
  margin: 30px auto;
}
.product {
  flex: 1;
  height: auto;
  padding: 15px;
  font-size: 12px;
  text-align: center;
  border: 1px dashed #ddd;
}
.product > * {
  margin-bottom: 10px;
}
.product > p {
  text-align: left;
  height: 30px;
  overflow: hidden;
}
.product > button {
  padding: 5px 15px;
  background-color: transparent;
  border: 1px solid #888;
  border-radius: 3px;
  cursor: pointer;
}
.product > button:hover {
  background-color: #e2231a;
  color: white;
  border-color: transparent;
}
